# Venv
env/
venv/
*.env
*.pyenv

# Jupyter
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]

# IDE
.idea/
.vscode/
*.iml

# Logs and temporary files
*.log
*.bak
*.swp

# System Files
Thumbs.db  # Windows
.DS_Store  # macOS

# Data
*.csv
*.xlsx
*.parquet
*.feather
*.pickle
*.pkl
